@media screen and (max-width: 1900px){
	.title{
		padding-left: 12.5%;
	}
	.line:after{
		left: 12.5%;
	}
	.menu-mobile.mobile-menu{
		background: url(img/bg.png) no-repeat 0;
		background-size: cover;
		list-style: none;
		padding-left: 0;
		width: 100%!important;
		z-index: 10;
	}
}
@media screen and (max-width: 1650px){
	.text p{
		font-size: 13pt;
		width: 300px;
	}
	.description p.description-text{
		font-size: 13pt;
	}
	.edit, .area{
		font-size: 12pt;
	}
	#reviews .slick-slide img{
		width: 100%;
	}
}
@media screen and (max-width: 1350px){
	.text h3{
		font-size: 16pt;
	}
	.text p{
		font-size: 11pt;
		width: 220px;
	}
/*	.description p.description-text{
		font-size: 11pt;
	}*/
	/*#reviews button.slick-next{
		bottom: -30px;
	}*/
	#reviews .slick-list{
		min-height: 320px;
	}
}
@media screen and (max-width: 1200px){
	.wrapper-portfolio img{
		width: 60%;
	}
	.logo-text, .menu-desktop li a{
		font-size: 10pt;
	}
	button.slick-next{
		right: -15%;
	}
	.href a{
		font-size: 12pt;
	}
	.foot p a{
		font-size: 12pt;
	}
	#reviews{
		margin-bottom: 0;
	}
	section.services, .portfolio, .reviews, .contact-us{
		margin-top: 0px;
	}
	.item-mobile p{
		font-size: 13pt;
	}
	/*#reviews button.slick-next{
		bottom: -30px;
	}*/
}
@media screen and (max-width: 1000px){
	header{
		background: url(img/bg-mobile.png) no-repeat no-repeat;
		background-position: 0;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.logo-img{
		margin-right: 10px;
	}
	.logo-text, .menu-desktop li a{
		font-size: 9pt;
	}
	.line:after{
		border: transparent;
	}
	.text h3{
		font-size: 12pt;
	}
	.text p{
    	width: 155px;
	}
	.item-mobile p{
		padding-top: 0;
	}
	#reviews button.slick-next{
		/*width: 170px;*/
	}
	.wrapper-portfolio span{
		display: none;
	}
	.wrapper-portfolio span.after-mobile{
		display: block!important;
	}
	#reviews button.slick-next:before, .wrapper-portfolio span.after-mobile a{
		font-size: 11pt;
	}
	#reviews .slick-slide img{
		width: 100%;
	}
	.send{
		font-size: 11pt;
	}
	button.slick-prev{
		left: -10%;
	}
	#reviews button.slick-next{
		/*bottom: -10%;*/
	}
	/*portfolio*/
	.wrapper-portfolio{
		height: auto;
	}
	.wrapper-portfolio .description{
		float: none;
		width: 100%;
		padding: 0;
	}
	.wrapper-portfolio img{
		width: auto;
		display: block;
		position: static;
		height: auto;
		margin: 0 auto;
	}
	/*portfolio*/	
	.logo-text{
		display: none;
	}
	.logo-text-mobile{
		display: block;
	}
	.navigation{
		position: absolute!important;
	}
	.menu-desktop{
		display: none;
	}
	div.hamburger{
		display: block!important;
		border: 2px solid #929292;
		padding: 20px 20px 18px 20px;
	}
	.title-mobile{
		color: #fff!important;
	    display: block;
	    padding: 40px 50px;
	    font-size: 45pt;
	    line-height: 2;
	}
	.first{
		margin: 0;
	}
	.title{
		line-height: 1;
	}
	div.main{
		padding: 0;
	}
	.wrapper-text.slick-slider{
		display: none;
	}
	.wrapper-mobile-text.slick-slider{
		display: block;
	}
	.item-mobile{
		text-align: center;
	}
	button.slick-prev{
		left: 0;
	} 
	button.slick-next{
		right: 0;
	}
	#reviews button.slick-next{
		left: auto;
		right: 0;
		bottom: -10%;
	}
	.wrapper-mobile-text .slick-slide img{
		margin: 0 auto;
	}
	.description{
		padding-top: 0;
	}
	#reviews .half{
		width: 100%;
		float: none;
	}
	#reviews .half .description{
		width: 100%;
	}
	#reviews .half img{
		position: static;
		margin: 0 auto;
	}
	div.logo{
		display: block;
		padding-left: 50px;
	}
	.logo-img{
		float: left;
	}
	.logo-text-mobile{
		min-width: 49px;
		line-height: 49px;
	}
	.wrapper-portfolio span.after-mobile{
		background: url(img/icon_other/arrows/icon_arrow_next.png) no-repeat no-repeat right center;
	}
	.wrapper-portfolio span a{
		color: #000;
	}
	/*menu*/
	.mobile-menu{
		/*padding: 50px!important;*/
	}
	.mobile-menu .logo{
		float: none;
	}
	.mobile-menu li{
		margin: 50px 50px 0 100px;
		border: 1px solid transparent;
	}
	.mobile-menu .logo{
		padding-left: 25px;
	}
	.mobile-menu li a{
		color: #0f1010;
		padding: 10px;
		font-family: Lato-Black;
		font-size: 16pt;
	}
	.mobile-menu li a:hover{
		border: 1px solid #929292;
		text-decoration: none;
	}
	/*menu*/
}
@media screen and (max-width: 767px){
	.foot p a{
		font-size: 10pt;
	}
}
@media screen and (max-width: 700px){
	header div.logo{
		width: 100%;
		height: 49px;
	}
	.title-mobile{
		font-size: 42pt;
		line-height: 1.5;
	}
	.logo-text-mobile{
		float: left;
	}
	.wrapper-text, .wrapper-portfolio{
		width: 100%;
	}
	.wrapper-portfolio .description p.description-text{
		padding-left: 12.5%;
		padding-right: 12.5%;
	}
}
@media screen and (max-width: 650px){
	.foot p a{
		font-size: 12pt;
	}
	.title-mobile{
		font-size: 37pt;
		padding: 80px 50px
	}
	.wrapper-contact .half{
		width: 100%;
		float: none;
	}
	.wrapper-contact .half:nth-of-type(2){
		text-align: right;
	}
	.edit{
		width: 100%;
	}
	.send{
		position: static;
		display: none;
	}
	.wrapper-contact{
		height: auto;
	}
	.send-mobile{
		display: inline-block;
		position: static;
		font-size: 11pt;
	}
	.area{
		margin: 50px 0;
	}
	div.foot{
		width: 100%;
		float: none;
	}
}
@media screen and (max-width: 650px){
	.title-mobile{
		font-size: 30pt;
	}
	.wrapper-portfolio img{
		width: 100%;
	}
	.services{
		margin-bottom: 90px;
	}
	.item-mobile h3{
		text-align: left;
		padding-left: 12.5%;
	}
	.item-mobile p, 
	.wrapper-portfolio .description p.description-text,
	.description p.description-text{
		font-size: 15pt;
	}
	.item-mobile p{
		padding-top: 45px;
	}
	.item-mobile h3:after{
		position: absolute;
		content: "";
		display: table;
		border: 1px solid #e5e5e5;
		top: 70px;
		left: 12.5%;
		width: 70px;
	}
}
@media screen and (max-width: 425px){
	.item-mobile h3{
		padding-left: 50px;
		text-align: left;
	}
	#reviews div.col-xs-12{
		padding: 0;
	}
	#reviews .wrapper-reviews{
		width: 100%;
	}
	#reviews .description{
		padding: 0 15px;
	}
	.mobile-menu li{
	    margin: 50px 50px 0 25px;
	}

}
@media screen and (max-width: 375px){
	div.logo, .title-mobile{
		padding-left: 0px;
		padding-right: 0;
	}
	.wrapper-reviews{
		/*width: 90%;*/
	}
	.full-set.slick-active{
		/*width: 340px;*/
	}
	#reviews {
		/*display: none;*/
	}
	.wrapper-foot{
		width: 100%;
	}
}
@media screen and (max-width: 350px){
	header{
		background-position: -90px;
	}
	.title{
		padding-left: 0;
	}
	.title-mobile{
		font-size: 28pt;
	}
	.item-mobile p, 
	.wrapper-portfolio .description p.description-text, 
	.description p.description-text{
		font-size: 13pt;
		line-height: 1.2;
	}
	.item-mobile h3{
		padding-left: 0;
	}
	.item-mobile h3:after{
		left: 0;
	}
	.item-mobile p,
	.wrapper-portfolio .description p.description-text{
		padding-right: 0;
		padding-left: 0;
	}
	.wrapper-contact{
		width: 100%;
	}
}