
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section{
	margin-top: 30px;
}
div.main{
	padding-left: 30px;
	padding-right: 30px;
}
header{
	background: url(img/vector-smart-object.jpg) no-repeat no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 720px;
	padding: 20px;
	width: 100%;
}
div.logo, div.navigation{
	padding: 0;
}
.logo{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo-img{
	margin-right: 25px;
}
.logo-text{
	color: #fff;
}
.menu{
	height: 49px;
	list-style: none;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.menu li{
	display: inline-block;
	float: left;
}
.menu li a{
	color: #000;
	display: block;
	padding: 10px;
	border: 1px solid transparent;
	text-transform: uppercase;
}
.menu li a:hover{
	border: 1px solid #929292;
	text-decoration: none;
}
.menu li a:focus{
	outline: none;
	text-decoration: none;
}
h2{
	color: #000!important;
	text-transform: uppercase;
}
.title{
	padding: 50px 150px;
}
/*carousel*/

.carousel-inner.onebyone-carosel { margin: auto; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }
.item .col-xs-4{text-align: center;}


.fdi-Carousel .carousel-inner.onebyone-carosel > .item {
    transition: 500ms ease-in-out left;
    -webkit-transition: 500ms ease-in-out left;

    -webkit-backface-visibility: visible;
            backface-visibility: visible;
  }

a.carousel-control.left, a.carousel-control.right{
	background-image: none;
}
a.carousel-control{
	top: 50%;
	bottom: auto;
}
.text{
	margin-top: 50px;
}
.text:nth-of-type(n){
	margin-left: 12.5%;
}