
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: Lato-Regular; /* имя шрифта для CSS правил */
    src: local("Lato-Regular"), /* проверяем наличие шрифта в ОС пользователя */
         url(font/Lato-Regular.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
    font-family: Lato-Black; /* имя шрифта для CSS правил */
    src: local("Lato-Black"), /* проверяем наличие шрифта в ОС пользователя */
         url(font/Lato-Black.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
    font-family: Lato-Italic; /* имя шрифта для CSS правил */
    src: local("Lato-Italic"), /* проверяем наличие шрифта в ОС пользователя */
         url(font/Lato-Italic.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
section{
	margin-top: 45px;
	margin-bottom: 50px;
}
section.services, .portfolio, .reviews, .contact-us, .we-work{
	margin-top: 100px;
}
.first{
	margin-right: 15px;
	margin-left: 15px;
}
div.main{
	padding-left: 30px;
	padding-right: 30px;
}
header{
	background: url(img/vector-smart-object.jpg) no-repeat no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 720px;
	padding: 20px;
	width: 100%;
}
div.logo, div.navigation{
	padding: 0;
}
.logo{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo-img{
	margin-right: 25px;
}
.logo-text{
	color: #fff;
	font-size: 14pt;
	font-family: Lato-Black;
}
.logo-text.black{
	color: #000;
}
.menu{
	height: 49px;
	list-style: none;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.menu li{
	display: inline-block;
	float: left;
}
.menu li a{
	border: 1px solid transparent;
	color: #000;
	font-size: 14pt;
	font-family: Lato-Black;
	display: block;
	padding: 15px;
	text-transform: uppercase;
}
.menu li:last-child a{
	border: 1px solid #929292;
}
.menu li a:hover{
	border: 1px solid #929292;
	text-decoration: none;
}
.menu li a:focus{
	outline: none;
	text-decoration: none;
}
h2{
	color: #000!important;
	margin: 0!important;
	text-transform: uppercase;
}
.title{
	position: relative;
	padding: 50px 0px 50px 230px;
	font-size: 32px;
	font-family: Lato-Black;
	font-weight: bold;  
	line-height: 0.656;
}
.line:after {
    position: absolute;
    content: "";
    display: table;
    border: 1px solid #e5e5e5;
    top: 130px;
    left: 230px;
    width: 70px;
    z-index: 1;
}
/*carousel*/
#reviews .carousel-indicators .active{ background: #31708f; }
.carousel-inner{
    overflow: visible!important;
}
.thumbnail{
	border: none!important;
}
#reviews .adjust1{ float:left; width:100%; margin-bottom:0; }
#reviews .adjust2{ margin:0; }
#reviews .carousel-control{ color:#31708f; width:5%; }
#reviews .carousel-control.left, .carousel-control.right { background-image: none; }
#reviews .media-object{ margin:auto; }
@media screen and (max-width: 768px)
{
    #reviews .media-object{ margin-top:0; }
}
button.slick-next, button.slick-prev{
	top: 25%;
	position: absolute;
	background: none;
	border: none;
}
button.slick-next:before, button.slick-prev:before{
	content: '';
}
button.slick-prev{
	left: -100px;
	background: url(img/icon_other/arrows/icon_arrow_prew.png) no-repeat no-repeat left top;
}
button.slick-next{
	right: 0;
	background: url(img/icon_other/arrows/icon_arrow_next.png) no-repeat no-repeat left top;
}
button.slick-prev:hover, button.slick-prev:focus{
	background: url(img/icon_other/arrows/icon_arrow_prew.png) no-repeat no-repeat left top;
}
button.slick-next:hover, button.slick-next:focus{
	background: url(img/icon_other/arrows/icon_arrow_next.png) no-repeat no-repeat left top;
}
/*carousel*/
.wrapper-text, .wrapper-portfolio{
	width: 75%;
	margin: 0 auto;
	overflow: visible;
}
.wrapper-contact{
	width: 75%;
	margin: 0 auto;
	height: 275px;
}
.wrapper-foot{
	width: 75%;
	margin: 0 auto;
}
.wrapper-reviews{
	width: 75%;
	margin: 0 auto;
}
.text{
	float: left;
    /*margin-right: 8%;*/
}
.text-slider p{
	color: rgb(155, 155, 155);
	font-size: 16px;
	font-family: Lato-Regular;
  	line-height: 1.5;
	/*text-align: justify;*/
}
.text:nth-of-type(3){
	margin-right: 0;
}
.text h3{
	color: #000;
	font-size: 20pt;
	font-family: Lato-Regular;
	font-weight: bold;
  	line-height: 1.05;
	position: relative;
	margin-bottom: 45px;
	text-align: left;
}
.text h3:after{
	position: absolute;
	content: "";
	display: table;
	border: 1px solid #e5e5e5;
	top: 70px;
	left: 0;
	width: 70px;
}
.text p{
	color: rgb(155, 155, 155);
	font-size: 15pt;
	font-family: Lato-Regular;
  	line-height: 1.5;
	padding-top: 45px;
	/*text-align: justify;*/
	width: 390px;
}
.half{
	width: 50%;
	float: left;
}
.wrapper-portfolio{
	position: relative;
	height: 255px;
}
.description{
	position: relative;
	float: left;
	padding-top: 45px;
	width: 36%;
}
.description p.description-text{	
	color: rgb(155, 155, 155);
	font-size: 16pt;
	font-family: Lato-Regular;
	margin: 0;
}
.wrapper-portfolio span{
    position: absolute;
    cursor: pointer;
    background: url(img/icon_other/arrows/icon_arrow_next-grey.png) no-repeat no-repeat right center;
    right: 0;
    bottom: -60px;
    width: 150px;
    text-transform: uppercase;
}
.wrapper-portfolio span a{
    color: rgb(155, 155, 155);
    font-size: 14pt;
    font-family: Lato-Black;
    letter-spacing: 2px;
}
.wrapper-portfolio span:hover{
	background: url(img/icon_other/arrows/icon_arrow_next.png) no-repeat no-repeat right center;
}
.wrapper-portfolio span a:hover{
	color: #000;
	text-decoration: none;
}
.wrapper-portfolio img{
	position: absolute;
	right: 0;
	bottom: 0;
}
#reviews .view-all{
    position: absolute;
    cursor: pointer;
    background: url(img/icon_other/arrows/icon_arrow_next-grey.png) no-repeat no-repeat right center;
    right: 0;
    bottom: -60px;
    width: 150px;
    text-transform: uppercase;
}
#reviews .view-all a{
    color: rgb(155, 155, 155);
    font-size: 14pt;
    font-family: Lato-Black;
    letter-spacing: 2px;
}
#reviews .next-review{
    position: absolute;
    cursor: pointer;
    background: url(img/icon_other/arrows/icon_arrow_next.png) no-repeat no-repeat right center;
    right: 0;
    bottom: -60px;
    width: 200px;
    text-transform: uppercase;
}
#reviews .next-review a{    
    font-size: 14pt;
    font-family: Lato-Black;
    letter-spacing: 2px;
    color: #000;
	text-decoration: none;
}
section#portfolio-page{
	padding-left: 140px;
	padding-right: 140px;
}
#portfolio-page header{
	background: none;
	height: 200px;
}
#portfolio-page .menu{
	justify-content: space-between;
}
#portfolio-page .title{
	padding-left: 0;
	padding-top: 0;
}
#portfolio-page .line:after{
	top: 80px;
}
#portfolio-page .logo{
	justify-content: flex-start;
}
#portfolio-page .line:after{
	left: 0;
}
#portfolio-page .wrapper-text, #portfolio-page .wrapper-portfolio{
	width: 100%;
}
.href{	
	margin-top: 10px;
	margin-bottom: 35px;
}
.href a{
	color: #000;
	font-size: 16.02pt;
	font-family: Lato-Italic;
}
div.fullpage{
	/*padding: 0;*/
	padding-left: 0px;
	padding-right: 15px;
}
.fixheight{
	height: 50px;
}
.half{
	position: relative;
	width: 50%;
	float: left;
	overflow: visible;
}
.half .description{
	width: 74%;
}
.half img{
	position: absolute;
	right: 0;
	top: 0;
}
.reverse{
	height: 376px;
}
.reverse img{
	left: 0;
	right: auto;
}
.reverse-text{
	padding-left: 50px;	
}
hr{
	margin-bottom: 50px!important;
}
.edit{
	border: none;
	border-bottom: 1px solid #9b9b9b;
	width: 90%;
	padding: 20px 0;
	color: #9b9b9b;
	font-size: 16pt;
	font-family: Lato-Regular;
}
.edit:focus{
	outline: none;
}
.mail{
	margin-top: 30px;
}
.area{
	border: 1px solid #9b9b9b;
	width: 100%;
	height: 170px;
	padding: 20px;
	color: #9b9b9b;
	font-size: 16pt;
	font-family: Lato-Regular;
}
.area:focus{
	outline: none;
}
.send{
	background: #fff;
	border: 1px solid #000;
	color: #000;
	font-size: 14.39pt;
	font-family: Lato-Black;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	right: 10%;
	bottom: -100px;
	transition: all .3s;
}
.send:hover{
	background: #000;
	color: #fff;
}
footer{
	background: #000;
	margin-top: 75px;
}
section:last-child{
	margin-bottom: 0;
}
.foot{
	padding: 25px;
}
.foot p{
	margin-bottom: 15px;
}
.foot p a{	
	color: #fff;
	font-size: 16pt;
	font-family: Lato-Black;
	text-decoration: none;
}
.foot p a.last{
	font-family: Lato-Regular;
	margin-right: 30px;
}
.foot p:last-child{
	margin-bottom: 0;
}